*{
    margin: 0;
    padding: 0;
}
/*導覽列*/
.header{
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 6vh;
    background: #493e3ebf;
    font-size: 1.7rem;
    color: white;
}
.header .tohome{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    padding: 0px 3vw;
}
.header .nav{
    position: relative;
    list-style: none;
    float: right;
    top: 50%;
    transform: translate(0%,-50%);
}
.header .nav li{
    display: inline;
    padding: 0px 1vw;
}
.header a{
    cursor: pointer;
    text-decoration:none;
    transition: ease .8s;
}
.header a:visited,:link{
    color: white;
}
.header a:hover{
    color: red;
}
/*內容*/
.box{
    width: 100%;
    height: 100vh;
}
/*home page css*/
.home{
    position: relative;
    background: url('../images/home.jpg');
    background-position: bottom;
    background-size: cover;
    opacity: 0.6;
}
/*about page css*/
.about{
    position: relative;
    background-image: url('../images/about.jpg');
    background-position: top right;
    background-size: cover;
    opacity: 0.6;
}
/*home&about page*/
.card{
    padding: 1rem 0px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: rgba(46, 46, 46, 0.6);
    text-align: center;
    color: white;
    font-family: 微軟正黑體;
    font-weight:bold;
    box-sizing: border-box;
}
.title{
    margin: 10px;
    font-size: 2.2rem;
}
hr{
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    border: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.61), rgba(0,0,0,0));
}
.content{
    margin: 5px 0px;
    width: 100%;
    font-size: 1.7rem;
}
/*skill page css*/
.skill{
    background:#0000003d;
}
.skill_content{
    height: 100%;
}
.skill h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Kalam', cursive;
}
.skill_card{
    position: relative;
    width: 49.5vw;
    height: 18vh;
    margin: 5vh 0;
    float: left;
}
.skill_img{
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
    width: 18vh;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    cursor: pointer;
    text-align : center;
    font-size: 1.3rem;
    font-family: 微軟正黑體;
    border-radius: 10%;
}
.skill_img img{
    position: relative;
    width: 70%;
    height: 70%;
    margin: 0.6rem 0px 0px 0px;
}
.skill_text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding: 1vh 1vh;
    opacity: 0;
    left: 50%;
    transform: translate(-30%);
    position: absolute;
    width: 23vh;
    height: 100%;
    background: #0000008c;
    transition: 0.5s;
    z-index: 1;
    border-radius: 0 10% 10% 0;
    color: white;
}
.skill_text li{
    list-style-type: square;
    font-size: 1.1rem;
}
.skill_card:hover .skill_img{
    transform: translate(-120%);
    border-radius: 10% 0 0 10%;
}
.skill_card:hover .skill_text{
    opacity: 1;
    transform: translate(-16%);
}
/*personal_project page css*/
.personal_project{
    background:#0000003d;
}
.personal_project_content{
    padding: 6vh 0 0 0;/*專案多到會超過頁面的時候刪除這行*/
    height: 100%;
}
.personal_project h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Kalam', cursive;
}
.personal_project_card{
    position: relative;
    width: 49.5vw;
    height: 18vh;
    margin: 5vh 0;
    float: left;
}
.personal_project_img{
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translate(-50%);
    width: 18vh;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    cursor: pointer;
    text-align : center;
    font-size: 1.3rem;
    font-family: 微軟正黑體;
    border-radius: 10%;
}
.personal_project_img img{
    border-radius: 10px;
    position: relative;
    width: 70%;
    height: 70%;
    margin: 0.6rem 0px 0px 0px;
}
.personal_project_text{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1vh 1vh;
    opacity: 0;
    left: 50%;
    transform: translate(-30%);
    position: absolute;
    width: 23vh;
    height: 100%;
    background: #0000008c;
    transition: 0.5s;
    z-index: 1;
    border-radius: 0 10% 10% 0;
    color: white;
    justify-content: center;
}
.personal_project_card a{
    font-size: 1.3rem;
    text-align: center;
    display: block;
    text-decoration:none;
}
.personal_project_card a:link{
    color:#00BCD4;
}
.personal_project_card a:visited{
    color:#00BCD4;
}
.personal_project_text li{
    list-style-type: decimal;
    font-size: 1.1rem;
}
.personal_project_card:hover .personal_project_img{
    transform: translate(-120%);
    border-radius: 10% 0 0 10%;
}
.personal_project_card:hover .personal_project_text{
    opacity: 1;
    transform: translate(-16%);
}
/*contact page css*/
.contact{
    position: relative;
    background: #263859db;
    background-size: cover;
}
.personal_card{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    height: 35vh;
    min-height: 400px;
    width: 50vw;
    max-width: 430px;
    background: #f4f0e6;
    border-radius: 15px;
    text-align: center;
} 
.contact_title{
    margin: 1.7rem auto;
    font-size: 1.7rem;
    background: #e9c455;
    height: 2rem;
    line-height:2.5rem;
    font-family: 'Kalam', cursive;
}
.personal_photo{
    border-radius: 50%;
    margin: 2rem auto;
    height: 9rem;
    width: 9rem;
    background: url(../images/personal_photo.jpg) center;
    background-size: cover;
}
.name{
    font-size: 1.7rem;
    font-family: 微軟正黑體;
    margin: 1.3rem auto;
}
.contact_method{
    padding: 0.3rem 0 .1rem 0;
    margin: 1rem auto;
    list-style: none;
    width: 80%;
    background: #e9c455;
    border-radius: 20px;
    display: flex;
}
.contact_method li{
    margin: 0 auto;
}
footer{
    position: absolute;
    width: 100%;
    height: 10vh;
    background: #000000bf;
    bottom: 0;
    color: white;
    text-align: center;
    line-height: 10vh;
}

@media (max-width: 667px) and (min-width: 376px){
    html {
        font-size: 10px;
    }
    .card{
        padding: 0;
        max-height: 85vh;
    }
    .skill_card{
        height: 33vh;
    }
    .skill_img{
        width: 33vh;
    }
    .skill_text{
        width: 40vh;
    }
    .personal_project_card{
        height: 33vh;
    }
    .personal_project_img{
        width: 33vh;
    }
    .personal_project_text{
        width: 40vh;
    }
    .personal_card{
        min-height: 200px;
    }
    .contact_title{
        margin: 0.9rem auto;
    }
    .personal_photo{
        margin: 0 auto;
        height: 7rem;
        width: 7rem;
    }
    .name{
        margin: 1.1rem auto;
    }
    .contact_method{
        border-radius: 0;
        width: 100%;
    }
}
@media (max-width: 375px) {
    html {
        font-size: 10px;
    }
    .card{
        min-height: 30vh;
    }
    .personal_card{
        min-width: 300px;
        min-height: 250px;
    }
    .skill_card{
        width: 100vw;
        margin: 1vh;
    }
    .personal_project_card{
        width: 100vw;
        margin: 1vh;
    }
}
